@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap");
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: antiquewhite;
}
h1 {
  margin-top: 3rem;
}
.button {
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid rgb(46, 90, 44);
  border-radius: 9px;
  cursor: pointer;
  font-weight: 500;
}

.row {
  margin: 8px 0;
}
.row input {
  width: 291px;
  font-size: 35px;
  margin: 0;
  padding: 10px 0px;
  border: 2px solid rgb(192, 218, 40);
  border-radius: 5px;
  text-align: end;
}
.text-center {
  text-align: center;
}

.bg-red {
  background: rgb(197, 45, 45);
}

.mx-auto {
  margin: auto;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}
